body {
	margin: 0;
	font-family: 'VCR OSD Mono', monospace;
	font-size: 21px;
	color: #ddd;

	box-sizing: border-box;
	user-select: none;
}

#file_input_container, #save_container {
	/* width: 200px; */

	position: absolute;
	top: 5px;
	left: 5px;

	width: 260px;
	height: 24px;

	padding: 10px;
}

#save_container {
	width: fit-content;
	height: fit-content;

	left: auto;
	top: auto;

	bottom: 5px;
	right: 5px;
}
#save_container button {
	font-size: 21px;
	padding: 10px;
	
	width: 200px;
}

.object_data_container {
	width: 350px;

	position: absolute;
	top: 5px;
	right: 5px;

	padding: 10px;

	text-shadow: 0 2px 0 #000;
}

.object_data_container > p:first-child {
	text-align: left;
}
.object_data_container p {
	text-align: center;
	margin: 0;
}

.three_split {
	display: grid;
	width: 100%;

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 0.25fr;

	gap: 5px;
	justify-content: center;

	margin-top: 5px;
}
.three_split input {
	display: block;

	padding: 3px;

	min-width: 0;

	background: #222;
	color: #ddd;

	font-family: 'VCR OSD Mono', monospace;
	font-size: 0.8em;
}
.three_split span {
	text-align: center;
	font-size: 0.75em;
}
.three_split span:nth-of-type(1) {
	color: #f00;
}
.three_split span:nth-of-type(2) {
	color: #0f0;
}
.three_split span:nth-of-type(3) {
	color: #00f;
}

hr {
	border: 2px inset #222;
}
hr.thin {
	border: none;
	height: 1px;
	background: #222;
}

.hidden {
	display: none;
}

#help {
	font-size: 21px;

	position: absolute;

	width: 45px;
	height: 45px;

	padding: 10px;

	top: 5px;
	left: 290px;
}
/* #help_dialog p:first-child {
	margin-top: 0;
}
#help_dialog p:last-child {
	margin-bottom: 0;
} */

#help_dialog button {
	font-size: 21px;
	padding: 5px;
	
	width: 100px;
}

#help_dialog div {
	display: flex;
	justify-content: right;

	margin-top: 20px;
}

.delete_selected_object {
	width: 48px;
	height: 48px;
	position: absolute;

	right: 10px;
	top: 6px;     

	font-size: 21px;
	color: red;
}

.toggle label:after {
	content: 'x';
	text-align: center;
	line-height: 18px;

	text-shadow: none;

	display: inline-block;

	width: 20px;
	height: 20px;

	background: #222;
	border: 1px outset #222;
	color: #222;

	margin-left: 10px;                
}
input[type="checkbox"]:checked + label:after {
	background: red;
	border: 1px inset #222;
}
input[type="checkbox"][disabled] + label:after {
	background: #aaa;
	border: 1px solid #aaa;

	color: #ddd;
}

.toggle input[type="checkbox"] {
	opacity: 0;
	position: absolute;
}